<a [routerLink]="'/bindings'" id="s1" [routerLinkActive]="['active-link']">Bindings&nbsp;</a>
<a [routerLink]="'/courses'" [routerLinkActive]="['active-link']">Courses&nbsp;</a>
<a [routerLink]="'/products-list'" [routerLinkActive]="['active-link']">Products&nbsp;</a>
<a routerLink="/login-form" [routerLinkActive]="['active-link']">Login&nbsp;</a>
<a routerLink="/model-form" [routerLinkActive]="['active-link']">Model Form&nbsp;</a>
<a routerLink="/products" [routerLinkActive]="['active-link']">All Products&nbsp;</a>
<!--<a routerLink="/pipes">Pipes&nbsp;</a> -->
<app-parent></app-parent>

<app-observable></app-observable>


<router-outlet></router-outlet>




