<h2>Product List</h2>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{ product.id }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.description }}</td> 
          <td>
          <button class="link-button" (click)="showDetails(product)">Edit</button>
            <a [routerLink]="['../mobile-list',product.id]">View</a>
            <button (click)="deleteProduct(product.id)">Delete</button>         
        </td>
          </tr>
      </tbody>
    </table>

      <nav aria-label="Page navigation">
        <ul class="pagination">
          <li class="page-item" [class.disabled]="currentPage === 1">
            <a class="page-link"  (click)="previousPage()">Previous</a>
          </li>
          <li class="page-item" [class.active]="pageNumber === currentPage" *ngFor="let pageNumber of totalPagesArray">
            <a class="page-link"  (click)="goToPage(pageNumber)">{{ pageNumber }}</a>
          </li>
          <li class="page-item" [class.disabled]="currentPage === totalPages">
            <a class="page-link" (click)="nextPage()">Next</a>
          </li>
        </ul>
      </nav>

    <button (click) = "showAddForm()">Add</button>

    <div *ngIf="showEditProduct">
      <h3>Details</h3>
  <app-edit-product [product]="selectedProduct" (productChange)="update($event)"></app-edit-product>
  </div>

  <div *ngIf="showAddProduct">
    <h3>Add a Product</h3>
<app-add-product  (productAdded)="add($event)"></app-add-product>
</div>

    