<button (click)="navigateToProducts()">Go to Products</button>

<h2>Product List</h2>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of matchingProducts">
          <td>{{ product.id }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.description }}</td>
          <td>
            <button (click)="showDetails(product)">Edit</button>
            <a [routerLink]="['../mobile-list',product.id]">View</a>
            <button (click)="deleteProduct(product.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="showEditProduct">
    <h3>Details</h3>
<app-edit-product [product]="selectedProduct" (productChange)="update($event)"></app-edit-product>
</div>